UNKNOWN {
	BORDER-RIGHT: #6699cc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #6699cc 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-BOTTOM: 0px; BORDER-LEFT: #6699cc 1px solid; COLOR: #336699; PADDING-TOP: 0px; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; HEIGHT: 23px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
TD.navtdnotselected {
	BORDER-RIGHT: 0px; BORDER-TOP: #003366 1px solid; BORDER-LEFT: #003366 1px solid; BORDER-BOTTOM: #003366 1px solid; BACKGROUND-COLOR: #003366; TEXT-ALIGN: left
}
DIV.navselected {
	WHITE-SPACE: nowrap; BACKGROUND-COLOR: #ffffff
}
DIV.navnotselected {
	BORDER-RIGHT: #6699cc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #6699cc 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 8pt; PADDING-BOTTOM: 5px; BORDER-LEFT: #6699cc 1px solid; COLOR: #ffffff; PADDING-TOP: 5px; BORDER-BOTTOM: #6699cc 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #336699
}
.navregular {
	FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.navregular {
	FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.navregular:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.navregular:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.grayText {
	FONT-SIZE: 8pt; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.gText {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
TD {
	FONT-SIZE: 8pt;
}


.gTextBtn {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; text-align: right;}
.gTextRED {
	FONT-SIZE: 8pt; COLOR: #FF0000; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.gTextWhite {
	FONT-SIZE: 8pt; COLOR: #FFFFFF; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.navtdselected {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #6699cc 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-BOTTOM: 0px; BORDER-LEFT: #6699cc 1px solid; COLOR: #336699; PADDING-TOP: 0px; BORDER-BOTTOM: #6699cc 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; HEIGHT: 23px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.navtdnotselected {
	BORDER-RIGHT: 0px; BORDER-TOP: #003366 1px solid; BORDER-LEFT: #003366 1px solid; BORDER-BOTTOM: #003366 1px solid; BACKGROUND-COLOR: #003366; TEXT-ALIGN: left
}
.navselected {
	WHITE-SPACE: nowrap; BACKGROUND-COLOR: #ffffff
}
.navnotselected {
	BORDER-RIGHT: #6699cc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #6699cc 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 8pt; PADDING-BOTTOM: 2px; BORDER-LEFT: #6699cc 1px solid; COLOR: #ffffff; PADDING-TOP: 2px; BORDER-BOTTOM: #6699cc 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #336699
}

.navnotselectedred {
	BORDER-RIGHT: #6699cc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #6699cc 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 8pt; PADDING-BOTTOM: 2px; BORDER-LEFT: #6699cc 1px solid; COLOR: #ffffff; PADDING-TOP: 2px; BORDER-BOTTOM: #6699cc 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #FF0A02
}

.navnotselectedbutton {
	BORDER-RIGHT: #6699cc 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #6699cc 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 7pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #6699cc 1px solid; COLOR: #ffffff; PADDING-TOP: 1px; BORDER-BOTTOM: #6699cc 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #336699
}

.navtdselectedtop {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-BOTTOM: 0px; BORDER-LEFT: #6699cc 1px solid; COLOR: #336699; PADDING-TOP: 0px; BORDER-BOTTOM: #6699cc 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; HEIGHT: 22px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.navtdnotselectedtop {
	BORDER-RIGHT: 0px; BORDER-LEFT: #003366 1px solid; BORDER-BOTTOM: #003366 1px solid; BACKGROUND-COLOR: #003366; TEXT-ALIGN: left
}
.navnotselectedtop {
	BORDER-RIGHT: #6699cc 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 8pt; PADDING-BOTTOM: 2px; BORDER-LEFT: #6699cc 1px solid; COLOR: #ffffff; PADDING-TOP: 2px; BORDER-BOTTOM: #6699cc 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #336699
}
FORM {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.border {
	border-top : 1px solid #6699cc; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.bordertd {
	border-top : 1px solid #6699cc; border-right : 1px solid #6699cc; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.reminder {
	FONT-SIZE: 8pt;
	COLOR: Red;
	FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-weight : bold;
}
A.reminder {
	FONT-SIZE: 8pt;
	COLOR: Red;
	FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-weight : bold;
}
.reminder:hover {
	COLOR: Red;
	TEXT-DECORATION: underline;
}
A.reminder:hover {
	COLOR: Red;
	TEXT-DECORATION: underline;
}


.rnavtdselected {
	BORDER-RIGHT: #6699cc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #6699cc 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-BOTTOM: 0px; BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: #6699cc 1px solid; COLOR: #336699; PADDING-TOP: 0px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; HEIGHT: 23px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.rnavtdnotselected {
	BORDER-RIGHT: #003366 1px solid; BORDER-TOP: #003366 1px solid; BORDER-LEFT: #003366 1px solid; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #003366; TEXT-ALIGN: left
}
.rnavselected {
	WHITE-SPACE: nowrap; BACKGROUND-COLOR: #ffffff
}
.rnavnotselected {
	BORDER-RIGHT: #6699cc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #6699cc 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 8pt; PADDING-BOTTOM: 2px; BORDER-LEFT: #6699cc 1px solid; COLOR: #ffffff; PADDING-TOP: 2px; BORDER-BOTTOM: #6699cc 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #336699
}

.rnavtdselectedtop {
	BORDER-RIGHT: #6699cc 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-BOTTOM: 0px; BORDER-LEFT: #6699cc 1px solid; COLOR: #336699; PADDING-TOP: 0px; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; HEIGHT: 22px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.rnavtdnotselectedtop {
	BORDER-RIGHT: 0px; BORDER-LEFT: #003366 1px solid; BORDER-BOTTOM: #003366 1px solid; BACKGROUND-COLOR: #003366; TEXT-ALIGN: left
}
.rnavnotselectedtop {
	BORDER-RIGHT: #6699cc 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 8pt; PADDING-BOTTOM: 2px; BORDER-LEFT: #6699cc 1px solid; COLOR: #ffffff; PADDING-TOP: 2px; BORDER-BOTTOM: #6699cc 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #336699
}

HR {
	color : #6699cc;
	height : 1px;
}

.borderright {
	border-right : 1px solid #6699cc;
}
.borderleft {
	border-left : 1px solid #6699cc;
}

.borderleftright {
	border-left : 1px solid #6699cc;
	border-right : 1px solid #6699cc;
}

.borderleftrightbottom {
	border-left : 1px solid #6699cc;
	border-right : 1px solid #6699cc;
	border-bottom : 1px solid #6699cc;
}

.borderbottom {
	border-bottom : 1px solid #6699cc;
}

.bordertop {
	border-left : 1px solid #6699cc;
	border-right : 1px solid #6699cc;
	border-top : 1px solid #6699cc;
	border-bottom : 1px solid #6699cc;
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}


.borderin {
    border : 1px solid #6699cc;
}

.borderrighttop {
	border-right : 1px solid #6699cc;
	border-top : 1px solid #6699cc;
}
.borderlefttop {
	border-right : 1px solid #6699cc;
	border-top : 1px solid #6699cc;
}
.borderbottomright {
	border-bottom : 1px solid #6699cc;
	border-right : 1px solid #6699cc;
}
.borderbottomleft {
	border-bottom : 1px solid #6699cc;
	border-left : 1px solid #6699cc;
}

.borderleftrightbottomtext {
	border-left : 1px solid #6699cc;
	border-right : 1px solid #6699cc;
	border-bottom : 1px solid #6699cc;
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.borderleftrightbottomtextp {
	border-left : 1px solid #6699cc;
	border-right : 1px solid #6699cc;
	border-bottom : 1px solid #6699cc;
	cursor : pointer;
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.borderleftrighttext {
	border-left : 1px solid #6699cc;
	border-right : 1px solid #6699cc;
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.gText1 {
	FONT-SIZE: 8pt;
	COLOR: #000000;
	FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	border : none;
}

.allborder {
	border-left : 1px solid #6699cc;
	border-right : 1px solid #6699cc;
	border-bottom : 1px solid #6699cc;
	border-top : 1px solid #6699cc;
}

.allbordererrortext {
	FONT-SIZE: 8pt;
	COLOR: #000000;
	FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	border-left : 1px solid #ff0000;
	border-right : 1px solid #ff0000;
	border-bottom : 1px solid #ff0000;
	border-top : 1px solid #ff0000;
}

    .treecell {
	text-align: left;
	FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif;
        font-size: 8pt;
    }

    .boldtreecell {
	font-weight:bold;
	FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif;
        font-size: 8pt;
    }

    .italictreecell {
	font-style: italic;
	FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif;
        font-size: 8pt;
    }

    .plaintreecell {
	font-style: normal;
	FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif;
        font-size: 8pt;
    }

    .selecttreecell {
        font-size: 8pt;
		FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif;
		font-weight:bold;
                BACKGROUND-COLOR: red;
    }

    .selectboldtreecell {
	font-weight:bold;
        font-size: 8pt;
		FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif;
    }

    .selectitalictreecell {
	font-style: italic;
        font-size: 8pt;
		FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif;
    }

    .selectplaintreecell {
	font-style: normal;
        font-size: 8pt;
		FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif;
    }

body
{
    margin: 0px;
}
#modalPage
{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px; left: 0px;
}
.modalBackground
{
    filter: Alpha(Opacity=70); -moz-opacity:0.7; opacity: 0.7;
    width: 100%; height: 100%; background-color: #999999;
    position: absolute;
    z-index: 500;
    top: 0px; left: 0px;
}
.modalContainer
{
    position: absolute;
    width: 300px;
    left: 50%;
    top: 50%;
    z-index: 750;
}
.modal
{
    background-color: white;
    border: solid 1px #6699cc;
    position: relative;
    top: -150px;
    left: -150px;
    z-index: 1000;
    width: 300px;
    height: 80px;
    padding: 10px;
}

/*
================================================
autosuggest, inquisitor style
================================================
*/

body
{
	position: relative;
}


div.autosuggest
{
	position: absolute;
        background-color: white;
	background-position: top;
	background-repeat: no-repeat;
	padding: 10px 0 0 0;
        FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;
        border-left : 1px solid #6699cc;
        border-right : 1px solid #6699cc;
}

div.autosuggest div.as_header
{
	position: relative;
	height: 6px;
	padding: 0 6px;
        background-color: white;
	background-position: top right;
	background-repeat: no-repeat;
	overflow: hidden;
        FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;
}

div.autosuggest div.as_footer
{
	position: relative;
	height: 6px;
	padding: 0 6px;
        background-color: white;
	background-position: top right;
	background-repeat: no-repeat;
	overflow: hidden;
        FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;
        border-bottom : 1px solid #6699cc;
}

div.autosuggest ul
{
	list-style: none;
	margin: 0 0 -4px 0;
	padding: 0;
	overflow: hidden;
	background-color: #FFFFFF;
}

div.autosuggest ul li
{
	color: #ccc;
	padding: 0;
	margin: 0 4px 4px;
        FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;
	text-align: left;
}

div.autosuggest ul li a
{
        FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;
	color: #ccc;
	display: block;
	text-decoration: none;
	background-color: white;
	position: relative;
	padding: 0;
	width: 100%;
}
div.autosuggest ul li a:hover
{
	background-color: #CCFFFF;
}
div.autosuggest ul li.as_highlight a:hover
{
	background-color: #6699cc;
}

div.autosuggest ul li a span
{
	display: block;
	padding: 3px 6px;
        FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;
	font-weight: bold;
}

div.autosuggest ul li a span small
{
        FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;
	font-weight: normal;
}

div.autosuggest ul li.as_highlight a
{
	color: white;
	background-color: #6699cc;
	background-position: bottom right;
	background-repeat: no-repeat;
        FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;
}

div.autosuggest ul li.as_highlight a span
{
/*	background-image: url(img_inquisitor/hl_corner_bl.gif); */
	background-position: bottom left;
	background-repeat: no-repeat;
}

div.autosuggest ul li a .tl,
div.autosuggest ul li a .tr
{
	width: 6px;
	height: 6px;
	position: absolute;
	top: 0;
	padding: 0;
	margin: 0;
        FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;
}
div.autosuggest ul li a .tr
{
	right: 0;
}

div.autosuggest ul li.as_highlight a .tl
{
	left: 0;
/*		background-image: url(img_inquisitor/hl_corner_tl.gif); */
	background-position: bottom left;
}

div.autosuggest ul li.as_highlight a .tr
{
	right: 0;
/*		background-image: url(img_inquisitor/hl_corner_tr.gif); */
	background-position: bottom right;
}



div.autosuggest ul li.as_warning
{
        FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;
	font-weight: bold;
	text-align: center;
}

div.autosuggest ul em
{
        FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;
	font-style: normal;
	color: #4B5B81;
}

.tooltip{ position: absolute; top: 0; left: 0; z-index: 3; display: none; }

.errormsg {
    FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #b80000; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.tank {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
}

.allborderred {
	border-left : 1px solid red;
	border-right : 1px solid red;
	border-bottom : 1px solid red;
	border-top : 1px solid red;
}

.allbordergreen {
	border-left : 1px solid green;
	border-right : 1px solid green;
	border-bottom : 1px solid green;
	border-top : 1px solid green;
}
